

body{
    font: 16px/1.6 "\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;;
    background-color: #f2f2f2;
}

/**g-headwrap begin**********************/
.g-headwrap{
    height: 50px;
    background-color: #000;
}


/**header begin***************************************/
.header{
    border-top: 1px solid red;
    padding: 100px 0;
    color:#fff;
    background-color: #252525;
}
.header .tab{
    /*height: 112px;*/
    text-align: center;
    font-weight:500;
}
.header .tab .app-menu{
    padding: 25px 10px;
}
.header .tab li{
    display: inline-block;
    margin: 0 1px;
}
.header .tab li a{
    padding: 6px 40px;
    font-size: 16px;
    color: #fff;
}
.header .tab li a:hover{
    background-color: #252525;
}
.header .tab li.active1 a{
    border-radius: 30px;
    background-color: #77818b;
}
@media (max-width: 768px){
    .header {
        padding: 30px 0;
    }
    .header .tab{
        /*height: 67px;*/
        font-weight: 300;
    }
    .header .tab .app-menu{
        padding: 10px 10px;
    }
    .header .tab li a{
        padding: 3px 10px;
        font-size: 14px;
        color: #fff;
    }
    .description{
        font-size: 12px;
    }
}

/*feature begin***************************/
#feature{
    background-color: #fff;
    padding: 40px 0;
}

 .center{
    text-align: center;
    /*line-height: 48px;*/
     padding-bottom: 55px;
}
 .center h2{
    margin:0 0 20px ;
     line-height: 48px;
}
#feature .feature-wrap{
    margin-bottom:35px;
    overflow: hidden;
}
#feature .feature-wrap i{
    height: 180px;
    width: 110px;
    margin: 3px;
    line-height: 110px;
    text-align: center;
    color: #c52d2f;
    float: left;
    margin-right: 25px;
    background: url("../images/tenda_goin/resizeApi.png") no-repeat center 0px;
}
#feature .feature-wrap i.irow2{
    height: 300px;
}
#feature .features>div:nth-child(2) i{
    background: url("../images/tenda_goin/jx.png") no-repeat center 0px;
}
#feature .features>div:nth-child(3) i{
    background: url("../images/tenda_goin/ca.png") no-repeat center 0px;
}
#feature .features>div:nth-child(4) i{
    background: url("../images/tenda_goin/2.png") no-repeat center 0px;
}
#feature .features>div:nth-child(5) i{
    background: url("../images/tenda_goin/45.png") no-repeat center 0px;
}
#feature .features>div:nth-child(6) i{
    background: url("../images/tenda_goin/js.png") no-repeat center 0px;
}
#feature .feature-wrap h2{
    font-size:20px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 32px;
}
#feature .feature-wrap h3{
    font-size: 14px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
    margin:0;
}

@media (max-width: 1199px) and (min-width: 992px){
    .feature-wrap i {
        display: none;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .feature-wrap i {
        height: 240px ! important;

    }
    #feature .center{
        padding-bottom: 55px;
    }
}
@media (max-width: 767px){
    .feature-wrap i {
        height: 140px ! important;
    }
}

/*feature1 begin*************************/
#feature1{
    text-align: center;
    /*background-color: #f2f2f2;*/
    padding: 40px 0;
}
.ldizhi img{
    width: 100%;
    vertical-align: middle;
}
.rdizhi{
    padding-left: 50px;
    margin-bottom: 35px;
    overflow: hidden;
    text-align: left;
    color:#787878;

}
.rdizhi h2{
    font-size: 20px;
    margin:10px 0 0 ;
    color:#000;
}
.rdizhi h3{
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
@media (max-width: 767px){
    .rdizhi {
        padding-left: 10px;
    }
}


/*footer begin****************************/
