@media screen and (max-width:767px) {
    .container {
        max-width: none;
        width: 100%;
    }

    /****************************焦点图**********************/
    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        display: block;
        max-width: 100%;
        height: 600px;
    }
    .banner_img img {
        transform: scaleX(1.3) scaleY(1);
    }


    /***********************服务支持**************************/
    .fw_support {
        background: #fff;
    }

}