body,div,p,span,a,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,input,textarea,img{padding:0; margin:0; border:0; list-style:none;}
body{
    background: #f2f2f2;
}
/******************** nav_title   **********************************/
.nav_title{
    width: 100%;
    background: #252525;
}
.nav_title ul li{
    float: left;
    background: #252525;
}
.nav_title ul .cur a{
    color: #fd4f00;
}
.nav_title ul li a{
   color: #cecece;
}
.nav>li>a:hover{
    background: none;
}
.nav_title ul li a:hover{
    color: #fd4f00;
}
.nav_title ul .dot{
    color: #cecece;
    margin-top: 12px;
}
.collapse_1{
    display: block;
}
@media (min-width: 768px){
    .nav_title .container {
        width: 750px;
    }
}
@media (min-width: 1200px){
    .nav_title .container{
         width: 1170px;
     }
}

    @media (min-width: 992px){
        .nav_title .container {
            width: 970px;
        }
    }

/******************** nav_title   **********************************/
.nav_tip{
    width: 100%;
    background: #fff;
    padding:5px;
}
.nav_tip .container .list {
    display: table;
    margin: 0 auto;
    position: relative;
}
/*.list ul li{*/
    /*float: left;*/
    /*border-right: 1px dashed #ccc;*/
    /*text-align: center;*/
/*}*/
.list li {
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 6px;
    text-align: center;
    border-right: 1px dashed #ccc;
}

.list ul li:last-child{
    border-right: none;
}

.list ul li a:hover{
    color: #fd4f00;
}
.list ul{
    /*padding-left: 30%;*/
    height: 28px;
}
.list ul li a{
    font-size: 15px;
    color: #000;
    text-decoration: none;
    padding: 0 40px;
}



/******************** picture  **********************************/
.pic{
    margin-top: 20px;
}
h5{
    border-top: 1px dotted #bcbcbc;
    line-height: 40px;
}
p{
    font-size: 12px;
    color: #555;
}
.pic .nap{
    position: relative;
}
@media (max-width: 991px) and (min-width: 768px){
    .pic .caption h5 {
        height: 35px;
        line-height: 35px;
        overflow: hidden;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .nap .caption h5 {
        height: 35px;
        line-height: 35px;
        overflow: hidden;
    }
}
.nap img{
    max-width: 100%;
}

.pic .thumbnail .status {
    position: absolute;
    height: 28px;
    line-height: 28px;
    color: #fff;
    background: #f60;
    width: 45px;
    text-align: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    font-size: 13px;
    left: 0;
    bottom: 130px;
}
